{% extends "base.html" %}

{% block content %}
        <div class="text-base uppetcase font-medium text-blue-500">Публикация</div>

        <div class="mt-4">
            <h1 class="text-2x1 font-bold">Lorem ipsum dolor sit amet</h1>

            <div class="mt-1">
                Автор: <spen class="font-semibold">Пользователь</spen> 24.06.2026 19:21
            </div>

            <p class="text-base text-zinc=500 mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, quisquam explicabo distinctio exercitationem quae in, laboriosam rerum officiis sed, accusantium nam. Quisquam qui sapiente a nulla tempora tempore dolorem excepturi!</p>
        </div>

        <div>
            <h2 class="text-lg font-semibold">Комментарии</h2>

            <div class="text=sm bg-white rounded-lg py-1 px-2">
                <a href="" class="text-blue-500 hover:underline">Войдите</a>, чтобы оставить комментарий
            </div>
            <div>
                <p class="text-sm text-zinc-800">
                    <spen class="font-semibold text-black">Пользователь</spen>
                    24.06.2026 19:21
                </p>
                <p class="text-xs">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>

{% endblock %}
